<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://alarmtestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8b8011cd-17d4-4391-8a03-28becb525d99/resourcegroups/mindr-test-samples-rg/providers/Microsoft.Web/sites/alarmtestapi</ResourceId>
    <UserName>$alarmtestapi</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://alarmtestapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>